.account-layout {
  .page-pad {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
  }

  .side-bar {
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    border-left: 1px solid $light-gray;
  }

  .main-page-content {
    flex-grow: 1;
    padding-right: 50px;

  }

  @include max-screen(1043px) {
    .page-pad {
      flex-direction: column-reverse;
    }

    .side-bar {
      width: 100%;
      border-left: 0;
    }

    .main-page-content {
      padding-right: 0;

    }
  }

}